################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/oec-interview/Interview/.vs/Interview/FileContentIndex
